<!DOCTYPE html>
<html lang="en">

<!-- header -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Chat</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <style>
        .inline {
            display: inline-block;
            vertical-align: top;
        }
        body {
            background-image: url('static/background.png');
            background-size: cover;
        }
        .ui.segment {
            background-color: rgba(0, 0, 0, 0.25);
            border-radius: 15px;
        }
        @font-face { font-family: Condiment; src: url('static/Condiment-Regular.otf'); }
    </style>
</head>


<!-- body -->
<body>
    <div style="width:400px; margin-top:50px;" class="ui container">
        <div style="margin-top:75px;">
            <h1 class="ui center aligned header" style="color:white; font-family:Condiment; font-size: 80px">AI Chat</h1>
        </div>
        <!-- text field & button  -->
        <!-- // <form> has <input> field to submit it
                to "/button" endpoint when <button> pressed  -->
        <div style="margin-top:30px; margin-bottom:25px;">
            <form class="ui form" action="/button" method="post" style="display:flex">
                <div class="inline" style="flex-grow:1;">
                    <input type="text" name="prompt" style="background-color:rgba(255, 255, 255, 0.405); border-radius:10px;" placeholder="Enter your message...">
                </div>
                <div class="inline" style="margin-left:5px;">
                    <button class="ui blue button" style="background-color:rgb(117, 0, 207); border-radius:20px;" id="button" type="submit">Send</button>
                </div>
            </form>
        </div>

        <!-- load DB samples -->
        {% for history in history_list[::-1] %}   
        <div class="ui segment">
            <!-- print 'message' field -->
            <p class="ui big header" style="text-align:center; color:white;">{{ history.message }}</p>

            <!-- Button (hyperlink) 'delete' endpoint -->
            <div style="text-align:right;">
                <a class="ui mini gray" style="color:rgba(255, 255, 255, 0.155)" href="/delete/{{ history.id }}">[delete]</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>