{% set is_left = true %}
{% for todo in todo_list[::-1] %}
<div class="ui segment">
    <!-- print 'title' field with alternating alignment -->
    {% if is_left %}
    <p class="ui big header" style="text-align: left;">{{ todo.title }}</p>
    {% else %}
    <p class="ui big header" style="text-align: right;">{{ todo.title }}</p>
    {% endif %}

    <!-- print 'complete' field -->
    {% if todo.complete == False %}
    <span class="ui gray label">Not Complete</span>
    {% else %}
    <span class="ui green label">Completed</span>
    {% endif %}

    <!-- Buttons (hyperlinks) to invoke endpoints -->
    <a class="ui blue button" href="/update/{{ todo.id }}">Update</a>
    <a class="ui red button" href="/delete/{{ todo.id }}">Delete</a>
</div>
{% if is_left %}
{% set is_left = false %}
{% else %}
{% set is_left = true %}
{% endif %}
{% endfor %}